.image{
    width: 320px;
    height: 420px;
    background-color: lightblue;
    border-radius: 4px;
    position: relative;
    /* bottom: 50%; */
    margin-bottom: 25px;
}
img{
    position: relative;
    top: -4%;
}