@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.image__container{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center; */
    border: 2px solid black;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* row-gap: 25px; */
    overflow-y: scroll;
    height: 500px;
    margin-bottom: 250px;
    user-select: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image__container::-webkit-scrollbar{
    display: none;
}
body{
    overflow-y: hidden ;
}
h1{
    font-family: 'Creepster', cursive;
    color: aqua;
    font-size: 4rem;
}
@media (max-width:392px){
    .image__container   {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 25px;
        row-gap: 25px;
    }
}
@media (min-width:392px) and (max-width:750px){
    .image__container   {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 25px;
        row-gap: 25px;
    }
}
@media (min-width:750px) and (max-width:1000px){
    .image__container   {
        display: grid;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr ;
        row-gap: 25px;
    }
}
@media (min-width:1000px) and (max-width:1300px) {
    .image__container   {
        display: grid;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr 1fr ;
        row-gap: 25px;
    }
}